.available,
.unavailable,
.yourSeat {
	display: flex;
	font-size: 20px;
	color: var(--text-color);
	padding: 0 30px;
}

.available::before,
.unavailable::before,
.yourSeat::before {
	content: "";
	width: 20px;
	height: 20px;
	border-radius: 4px;
	margin: 5px;
}

.available::before {
	background-color: var(--available-seat);
}

.unavailable::before {
	background-color: var(--unavailable-seat);
}

.yourSeat::before {
	background-color: var(--your-seat);
}