@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--button-hover: #a7517c;
	--error-color: #cf0a0a;
	--text-color: #f5f5f5;
	--main-color: #121212;
	--navbar-color: #2a2a2a;
	--accent-color: #a6d1e6;
	--footer-color: #ffffff;
	--secondary-color: #5c5757;
	--input-bg-color: #333;
	--input-border-color: #444;
	--button-color: #7f094b;
	--unavailable-seat: #e0e0e0;
	--available-seat: #2bace1;
	--your-seat: #7f094b;
	--link-hover: #2196f3;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--main-color);
}

.page-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

hr {
	height: 1px;
	background-color: #fff;
	margin: 0;
	padding: 0;
}

.content-wrapper {
	flex: 1;
}

.fix-height{
	height: 90vh;
}

footer {
	padding: 10px;
	width: 100%;
	position: relative; /* If needed for footer alignment */
	bottom: 0;
}
