.swiper-wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
}

.swiper-pagination-bullet-active {
	width: 15px;
	border-radius: 10px;
	transition: width 0.3s ease;
}

/* Pagination bullets */
.swiper {
	--swiper-pagination-color: rgba(56, 245, 255, 1);
	--swiper-pagination-bullet-inactive-color: white;
}

/* Navigation buttons styling */
.button-next,
.button-prev {
	position: absolute;
	top: 50%;
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	border-radius: 50%;
	background-color: rgba(56, 245, 255, 0.2);
	transform: translateY(-50%);
	cursor: pointer;
	z-index: 10;
}

:is(.button-next, .button-prev):hover {
	background-color: rgba(56, 245, 255, 0.3);
}

/* Next button positioning */
.button-next {
	right: 10px;
}

/* Previous button positioning */
.button-prev {
	left: 10px;
}

.right-btn,
.left-btn {
	width: 35px;
	height: 35px;
}

.section-title span::before {
	content: "";
	display: flex;
	width: 70px;
	height: 10px;
	background-color: var(--button-color);
	margin-bottom: 5px;
	border-radius: 5px;
}




.movie-card-section .movie-details button {
	color: var(--text-color);
	outline: none;
	padding: 10px 20px;
	margin: 10px;
	border-radius: 5px;
	cursor: pointer;
}

.movie-card-section .movie-details button{
	border: 2px solid var(--button-hover);
	background-color: rgba(0, 0, 0, 0.6);
}

.movie-card-section .movie-details button:hover {
	background-color: var(--button-hover);
}

.upcoming-movies,
.coming-soon-movies{
	width: 100%;
}

.upcoming-movies .section-title{
	margin-bottom: 10px;
}

.movie-card-section {
	background-color: transparent;
	width: 100%;
	height: 400px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	padding: 10px;
	position: relative;
	float: right;
}

.movie-card-section .movie-image {
	display: flex;
	width: auto;
	height: auto;
	object-fit: cover;
	border-radius: 5px 5px 0 0;
}

.movie-card-section .movie-details {
	width: calc(100% - 220px);
	display: flex;
	align-items: flex-start;
	background-color: transparent;
	position: relative;
	margin: -14px;
	right: 20px;
}

.movie-card-section .movie-details .info-btn{
	background-color: transparent;
}

.coming-soon-movies hr.dashed,
.second-section hr.dashed{
	background-color: transparent;
	width: 92%;
	display: block;
	margin: 20px;
	border: 2px dashed var(--text-color);
	border-spacing: 30px;
}

@media screen and (max-width: 1150px) {
	.movie-grid {
		grid-template-columns: repeat(2, 1fr);
	}
	.home-page-container{
		height: 550vh;
	}
}

@media screen and (max-width: 768px) {
	.home-page-container{
		height: 600vh;
	}

	.movie-grid {
		position: relative;
		padding: 0 20%;
		grid-template-columns: 1fr;
		height: 100%;
	}

	.movie-grid .movie-poster {
		display: block;
	}

	.upcoming-movies{
		position: relative;
		top: 100px;
	}
}

@media screen and (max-width: 490px){
	.home-page-container{
		height: 700vh;
	}

	.movie-card-section{
		display: flex;
		flex-direction: column;
		height: auto;
	}

	.movie-card-section .movie-details{
		width: 100%;
	}
}