.add-movie-container {
	background-color: var(--main-color);
	background-image: url("../../../../public/background-logo.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.add-movie-form{
    display: flex;
	flex-direction: column;
	width: 550px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}