.menu-btn {
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100px;
    position: absolute;
    top: 30px;
    right: 40px;
    gap: 2px;
    background-color: var(--link-hover);
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: bold;
    padding: 8px;
    border-radius: 8px;
    color: var(--text-color);
    text-align: center;
}

.list-item{
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    gap: 2px;
    padding: 6px;
    background-color: white;
    position: absolute;
    top: 67px;
    right:-70px;
    width: 200px;
    overflow: hidden;
    z-index: 1000;
}

.item{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
    text-wrap: nowrap;
    border: 6px;
    cursor: pointer;
    width: 100%;
}

.item a{
    color: black;
}

.item:hover{
    background-color: var(--link-hover);
    border-radius: 6px;
}

.icon{
    height: 18px;
    width: 18px;
}

.search-input{
    display: flex;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    padding: 5px;
    border: 1px solid var(--input-border-color);
    border-radius: 8px;
    margin-top: 3px;
}

.search-btn{
    color: var(--main-color);
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    left: 160px;
    bottom: 22px;
}

.search-btn:hover{
    color: var(--link-hover);
}