.footer {
	background-color: #ffffff;
	padding: 30px 0;
	width: 100%;
}

.footer-container {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}

.row {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	gap: 20px;
}

.right-section,
.left-section,
.middle-section {
	width: 33%;
	margin: 10px;
}

.footer__title {
	font-size: 18px;
	margin-bottom: 15px;
	margin-top: 10px;
	font-weight: bold;
	color:#121212;
}

.footer__text {
	line-height: 1.5;
	color:#121212;
}

.footer__list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.footer__list-item {
	margin-bottom: 10px;
}

.footer__link {
	color: #121212;
	text-decoration: none;
}

.footer__link:hover {
	text-decoration: underline;
}

.footer__social {
	display: flex;
	gap: 10px;
	margin-top: 10px;
	list-style: none;
}

.footer__social-item {
	margin-right: 15px;
}

.footer__social-link {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:#121212;
	height: 35px;
	width: 35px;
	border-radius: 50%;
	padding: 15px;
}

.footer_social_media {
	min-width: 20px;
	height: 20px;
	color: #fff;
}

@media (max-width: 480px) {
	.row {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: baseline;
		gap: 10px;
	}
	.right-section,
	.left-section,
	.middle-section {
		width: 100%;
		margin: 10px;
	}
}
